<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="LocalConnection" connectionString="Server=WIN-UCLB12VI625\SQLEXPRESS;  User Id=Library_User; Password=password; Database = LibraryDB; TrustServerCertificate=True; Trusted_Connection=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>