<configuration>
	<connectionStrings>
		<add name="DbConnection" connectionString="Server=WIN-UCLB12VI625\SQLEXPRESS;  Database = DnDCharacterSheet_DB; Integrated Security=SSPI; TrustServerCertificate=True; Trusted_Connection=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
