
@using lab8.Models;
@model CelebrityWithFile

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Celebrity</title>
</head>
<body>

    <h2>Delete Celebrity</h2>
    <img src="~/img/@Model.celebrity.ReqPhotoPath" />
    <form asp-action="DeleteCel" asp-controller="Home" asp-route-id="@Model.celebrity.Id" method="post" enctype="multipart/form-data">
        <div>
            <label for="FullName">Full Name:</label>
            <input type="text" id="FullName" name="FullName" value="@Model.celebrity.FullName" readonly="readonly" required />
        </div>

        <div>
            <label for="Nationality">Nationality:</label>
            <input type="text" id="Nationality" name="Nationality" value="@Model.celebrity.Nationality" readonly="readonly" required />
        </div>


        <button type="submit">Confirm Delete</button>
        <a href="/Home/Index">Cancel</a>
    </form>
</body>

</html>